# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Project specific
backend/debug.log
backend/django_log.txt
backend/backend/__pycache__/
backend/traffic/migrations/__pycache__/
